@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    --background: #11191f;
    --content: #141e26;
    --primary: #1095c1;
    --text: #edf0f3;
}

h1 {
    text-align: center;
}

body > header {
    padding: 3vh 0;
}

nav {
    display: flex;
    justify-content: center;
}

body > main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}

section > article {
    width: calc(12.5% - 1em);
    height: 28vh;
    margin: 1vh 0.4vw;
    padding: 0 auto;
    min-width: 150px;
    box-sizing: border-box;
    background-color: var(--content);
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

article > header {
    padding: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

header > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.35vh;
}

header > section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header > section > article {
    background-color: var(--content);
    width: fit-content;
    height: fit-content;
    padding: 2vh 2vw;
}

button {
    width: 3vw;
    height: 4vh;
    border-radius: 4px;
    transition: all 0.3s;
    border: 0;
    margin: 0 5px;
}

.buttons,
.buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#delete {
    background-color: #db3b3b;
}

#delete:hover {
    background-color: #d61f1f;
}

svg {
    height: auto;
    width: auto;
    color: white;
}
