<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login to shittier.dl</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>

  <body>
    <main class="container">
      <h1>Login for free cookies</h1>

      <form onsubmit="submitForm(event)">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
      </form>
    </main>

    <footer class="container">
      <p>Powered by <strong>shittier.dl</strong></p>
    </footer>
  </body>

  <style>
    p {
      text-align: center;
    }
  </style>

  <script>
    const button = document.querySelector("button");
    const passwordField = document.querySelector("input");

    async function submitForm(ev) {
      ev.preventDefault();
      button.setAttribute("aria-busy", "true");
      const password = passwordField.value;
      const response = await fetch(`/login`, {
        method: "POST",
        headers: {
          "User-Agent": "ShitterDL frontend",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          password,
        }),
      });
      const data = await response.json();

      if (data?.ok) {
        const jwt = data.jwt;
        document.cookie = "token=" + jwt;
        location.href = "/gallery";
      } else {
        alert(`Error ${response.status} ${response.statusText}`);
      }

      button.setAttribute("aria-busy", "false");
    }
  </script>
</html>
