<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gallery</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
  
  <header>
    <h1>Gallery (<%=files.length%>)</h1>
  </header>

  <main>
      <section>
        <%files.forEach((v)=> {%>
            <article>
              <header>
                <p>
                  <%=v.name%>
                </p>
                <div class="buttons">
                  <button id="copy">
                    <svg class="buttonicon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"/></svg>
                  </button>
                  <button id="delete">
                    <svg class="buttonicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path></svg>
                  </button>
                </div>
              </header>

              <main>
                <img src="<%=v.src%>" alt="file named <%=v.name%>" />
              </main>
  
            </article>
          <%})%>
      </section>
  </main>

</body>

<script>
document.querySelectorAll("#copy").forEach((v) => {
  v.addEventListener("click", (e) => {
    const url = e.originalTarget.parentElement.children[1].href;
    navigator.clipboard.writeText(url);
    alert("Copied.")
  })
})

document.querySelectorAll("#delete").forEach((v) => {
  v.addEventListener("click", (e) => {
    const url = e.originalTarget.parentElement.children[1].href;

    alert("Your mom.")
  })
})
</script>

<style>
h1 {
  text-align: center;
}

body > header {
  padding-bottom: 2vh;
}

body > main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 25vh;
  justify-content: center;
  margin: 0;
}

article {
  width: calc(12.5% - 1em);
  height: 25vh;
  margin: 1vh 0.4vw;
  padding: 0 auto;
  min-width: 150px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

article > header {
  padding: 1vh;
  margin-bottom: 1vh !important;
  text-align: center;
}

article > main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.35vh;
}

.buttons {
  margin: 1vh 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonicon {
  margin: 0 auto;
  display: block;
  max-height: 100%;
  width: auto;
}

/* Actions */
button,
a[role="button"] {
  flex: 0 0 auto;
  margin: 0;
  margin: auto 2.5%;
  padding: auto 0;
  height: 5vh;
  width: 50%;
}

#delete {
  background-color: #FF8080;
  border: 0;
}

#delete:hover {
  background-color: #e24f4f;
}
</style>

</html>